<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/basic_style.css') }}" type="text/css">
        <title>Light NoteBook</title>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <h2>Light NoteBook</h2>
        <img alt="Flower Sea" src="{{ url_for('static', filename='images/flowersea.png') }}" >
        {% block body %}
        {% endblock %}
    </body>
</html>